---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";
import OfficeSensor from "../components/OfficeSensor.vue";
import Outside from "../components/Outside"
---
<Layout title="Welcome to Office Sensors">
  <main>
    <NavBar />
    <OfficeSensor client:idle />
    <hr class="my-8 h-px bg-gray-500 border-1 dark:bg-gray-700">
    <Outside client:only="react" />
  </main>
</Layout>

<style>
  h1 {
    margin: 2rem 0;
  }

  main {
    margin: auto;
    padding: 1em;
    max-width: 60ch;
  }
</style>
