---
---

<ul class="mb-10">
  <li><a href="/">Home</a></li>
  <li><a href="/about">About</a></li>
</ul>
<style>
  li {
    float: left;
  }

  a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
  }
</style>
